.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: 0 auto;
    max-width: 100%;
}
header {
    background-color: #131921;
}


.deals-box {
    display: flex;
    margin-left: 4em;
    
}
.deals-box a{
    color: #FF9900;
    margin-left: 3em;
}
.logo-wrapper, .main-nav ul {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}

.img-logo {
    height: 1.9em;
}

.img-nav a {
    color:white;;
}

.main-nav li {
    margin: auto 0.4em;
}
/*-----------Buttons-----------*/

.main-nav  button {
    background-color: #FF9900;
    width: 8em;
    height: 3em;
    border: none;
}

.main-nav button a {
    color:white;
    font-size: 125%;
}

/*-----------Links-----------*/

.deal-headers a {
    font-weight: bold;
    color:white;
}

.deal-headers a:hover {
    color: #FF9900;
}

/*-----------Footer-----------*/
/*--------------------------------------*/

footer{
    background-color: #232F3E;
}

footer section:first-of-type {
    border-bottom: 0.031em solid #fff;
 }


/*-----------First Footer-----------*/

.footer-box {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
}

.first-footer a {
    color: #fff;
    font-size: 70%;
    border-bottom: 0.063em solid transparent;
    padding-bottom: 0.063em solid #fff;
}

.first-footer a:hover {
    border-bottom: 0.063em solid #fff;
    transition: border-bottom .2s;
}

h4 {
    font-weight: bold;
    font-size: 100%;
    color: #fff;
}

.first-footer ul li {
    margin-top: 0.313em;
}


/*-----------Second Footer-----------*/

.second-footer ul:first-of-type {
    display: flex;
}

.social-list {
   color:white;
}

.social-list img {
    height: 2em;
    margin-right: 2em;
}

.social-list li {
    margin: auto 0;
}

.social-list li:last-of-type img {
    margin-right: 2em;
}

.social-list li:first-of-type {
    color: #fff;
    margin-right: 2em;
    font-weight: bold;
}

.signatures p {
    margin-top: 1.250em;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 600px) {
.deals-box a,.deal-headers{
    display: none;
}
}