* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lato', Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
    font-size: 1.250em;
    font-weight: 300;
    color: #555;
}
h2 {
    font-size: 200%;
    margin-bottom: .625em;
}

input[type=text], button {
    outline: none;
}

p {
    font-size: 70%;
    font-weight: 500;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin: 0 auto;
}

button {
    opacity: .8;
    cursor: pointer;
}

button:hover {
    opacity: 1;
    transition: .2s;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}