body {
	margin: 0;
	background-color: lightgrey;
	font: 1em helvetica, arial, sans-serif;
} 

  #product-imagep
  {
      height:6em;
  }
  .category-grid-box
  {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 1.5em;
  }
  #add-button{
      height: 2em;
      width:6em;
  }