body {
	margin: 0;
	background-color: lightgrey;
	font: 1em helvetica, arial, sans-serif;
	background-image: url('./../img/bg.jpg');
} 
/* Login Page*/
.a-logo {
    height: 12em;
    float:right;
    margin-top:2em;
    margin-right: 10em;
}
.a-logo-section h3
{
   float: right;
}
.login-form,.signup-form {
    width: 35%;    
    padding: 4%;
    margin-left: 10%;
    margin-top: 3em;
    background-color:white;
}
.signup-form h2
{
    margin:0;
}

label{
    font-weight: bold;
}

input[type=password],#name {
    width: 100%;
    margin: .4em 0 .825em 0;
    padding: 1.5%;
    outline: none;
}
.shoot-box {
    display: flex;
    margin-top: 2em;
}
.sign-in-submit {
    padding: 0.7em;
    margin-left:21em; 
    background-color: #FF9900;
    border: 0.1em solid;
}
.input[type=email],.signin-info input[type=text]{
    width: 100%;
    margin: .4em 0 .825em 0;
    padding: 1.5%;
    outline: none;
}
#email{
    width: 100%;
    margin: .4em 0 .825em 0;
    padding: 1.5%;
    outline: none;}
/*Signup Page*/
.signin-info {
    margin-bottom: 5em;
}
.banner img {
    width: 100%;
}

.category-grid-box img {
    height: 18em;
}

.category-grid-box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50% auto;
    width: 100%;
    margin: 4em auto;
}

.category-grid-box article {
    background-color: #fff;
}

.category-grid-box li {
    text-align: center ;
    margin: 1em auto;
}

.category-grid-box li:first-child a, .seller-head li:first-child a {
    color: rgb(68, 68, 68);
    font-weight: bold;
}

.category-grid-box li:last-child a, .seller-head li:last-child a {
    font-size: 80%;
    color: blue;
    font-weight: 400;
    border-bottom: 0.031em solid transparent;
}

.category-grid-box li:last-child a:hover, .seller-head li:last-child a:hover {
    color: #e67e22;
    border-bottom: 0.031em solid #e67e22;
    transition: color .2s, border-bottom .2s;
}

.seller-grid-box {
    display: grid;
    grid-template-rows: auto auto;
    background-color: #fff;
    margin-bottom: 4em;
    padding-bottom:1% ;
}
.seller-head ul {
    display: flex;
    padding: 2% 0 0 2%;
}
.seller-head li:last-child a{
    margin-left: 1em;
}
.goods-list ul {
    display: flex;
    justify-content: space-between;
}

.goods-list img {
    height: 10em;
}

.goods-list img:hover {
    transform: scale();
}

.Listing-boxes {
    display: flex;
    margin: 5em auto;
}
.product-photo {
    height: 10em;
    display: block;
    margin: .5em auto;
}

.rating {
    height: 1em;
}

.ap-logo{
    height: 1.5em;
    margin:0;
    margin-left:14em; 
}
.grid-of-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #fff;
}

.grid-view {
    border: 0.031em solid #cfcfcf;
    padding: 4%;
}

.listing-description {
    font-weight: bold;
    color:#0066C0;

}

.recommended-area {
    display: flex;
    margin: .5em 0;
}

.recommended-area li:last-of-type {
    margin: auto 0 auto .5em;
    font-weight: 400;
    font-size: 70%;
    color: #555;
}

.product-price {
    display: flex;
}

.product-price li:first-child a {
    color: red;
    font-weight: bold;
    font-size: 90%;
}
@media only screen and (max-width: 600px) {
    .a-logo {
        display:none;
      }
      .login-form,.signup-form {
        width: 70%;    
    }
    .sign-in-submit {
        padding: 0.7em;
        margin-left: 17em;
    }
    .category-grid-box {        
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;       
    }
    .category-grid-box img {        
      height:13em;
    }
    .grid-of-products {       
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: #fff;
    }
   .sell-footer{
       display: none;
   }
   .social-list{
       font-size: 0.7em;
       width:10em;
   }
   .social-list-h{
       display: none;
   }
  
  }